#navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    border-bottom: 1px solid  black;
    width: 100%;
    display: flex;
    align-items: center;
}
#logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
}
#logoset{
    display: flex;
    align-items: center;
    position: absolute;
}
h2{
    width: 200px;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    
}
#page{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 170px;  
}
.page{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 50px;
}
#pagemain{
    color: black;
    text-decoration: none;
    right: 270px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
   position: absolute;
}
#text{
    font-size: 20px;
    margin-top: 100px;
    width: 90%;
    max-width: 500px;
    background-color: rgba(120, 117, 117, 0.053);
margin-left: auto;
margin-right: auto;
    border-radius: 15px;
    line-height: 30px;
}
h1{
    margin-top: 100px;
text-align: center;
}
@media only screen and (max-width: 600px) {
.page{
    font-size: 18px;

}
#pagemain{
    font-size: 18px;
    margin-left: 30%;
}
h2{
    font-size: 15px;
    display: none;
}
#logo{
    width: 40px;
}
#text{
    max-width: 400px;
    font-size: 20px;
    }
