#navbar{
    position: absolute;
    top: 0;
    height: 60px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
left: 0;
}
#logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 50px;
}
#logoset{
    display: flex;
    margin-top: 500px;
    align-item: center;
    justify-content: center;
}
h2{
    width: 200px;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
font-size: calc(1.1rem + 0.5vw);
}

#page{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 170px;  
}
.page{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    right: 50px;
}
#pagemain{
    color: black;
    text-decoration: none;
    right: 270px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif; 
   position: absolute;
}
h1{
    font-size: 300%;
    margin-top: 100px;
   text-align: center;
}
p{
    font-size: 20px;
line-height: 40px;
    width: auto;
    text-align: center;
    scale: 1;
}
#icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#facebook{
    width: 50px;
}
#gmail{
    width: 50px;
    margin-left: 50px;
}
#instagram{
    width: 50px;
    margin-left: 50px;
}
@media only screen and (max-width: 600px) {
.page{
    font-size: 18px;

}
#pagemain{
    font-size: 18px;

}
h2{
    font-size: 15px;
    display: none;
}
#logo{
    width: 40px;
}

    }
